{{ define "tmpl" }}

<html>
    <head>
        <meta content="text/html">
        <script src="js/main.js"></script>
        <link rel="stylesheet" href="css/foundation.css">
            <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        {{ template "index" }}  
        <div id="wrapper" class="glid-x">
            <div class="result">
                <p>This is num</p>
                <div class="block">
                
               <div class="grid-x grid-margin-x">
                    {{ range . }}
                    <div class="cell small-2 large-4 columns">
                        <p><h4>{{ .Title }}</h4></p>
                        <p><small>{{ .Description }}</small></p>
                        <a href="{{ .Url }}"><small>{{ .Url }}</small></a>
                    </div>
                    {{ end }}
                </div>
                
                </div>
            </div>
            
        </div>
    </body>
</html>
{{ end }}